.metadata
# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

#Build files
*/build
*/Debug
#Others
RemoteSystemsTempFiles/

*.cproject
*.project
/Debug/
UMC/LogErroresUMC.txt
UMC/LogTraceUMC.txt
SWAP/swap.txt
CPU/Log_de_CPU.txt
Console/Log_de_Consola.txt
SWAP/Log_de_SWAP.txt
UMC/Log_de_Config_Files.txt
UMC/Log_de_UMC.txt
UMC/Historial_Reemplazos_UMC.txt
UMC/Informacion_TLB.txt
Kernel/Kernel_trace.txt
*/Log*
